body{
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;    
}

#cabecalho {
  position: fixed;
  top: 0;
  
    
}

#minha_foto {
  width: 100px;
}

#lessons_learned {
  margin-top: 210px;
}

#licoes_a_aprender a{
  color: #1f1ff7;
}

#licoes_a_aprender li a {
  text-decoration: none;
}

.nav-footer ul li{
  display: inline-block;
}

.nav-footer ul li a {
  text-decoration: none;
  color: #1f1ff7;
  background-color: blanchedalmond;
  padding: 10px 0;
  width: 140px;
  display: inline-block;
}