body{
  background-color: rgb(253, 251, 251);
    
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 100px;
}

#lessons_learned {
  margin-top: 210px;
}

#rodape {
  width: 90%;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}