body{
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 10px 0 20px;
  min-height: 100vh;
 
}

.list-skills {
  display: inline-block;
}

.menu ul {
  list-style: none;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
}
#cabecalho {
  position: fixed;
  top: 0;
  
}

#rodape {
  background-color: grey;
  margin-top: 10px  ;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

#minha_foto {
  width: 100px;
}

#lessons_learned {
  margin-top: 210px;
}

#licoes_a_aprender a{
  color: #1f1ff7;
}

#licoes_a_aprender li a {
  text-decoration: none;
}

.nav-footer ul li{
  display: inline-block;
}

.nav-footer ul li a {
  text-decoration: none;
  color: #1f1ff7;
  background-color: blanchedalmond;
  padding: 10px 0;
  width: 140px;
  display: inline-block;
  
}

.article-learned {
  width: 30%;
  text-align: justify;
}
.article-learned > p {
  line-height: 25px;
}

.table_infor {
  border: 1px solid #000000;
  width: 430px;
  margin-bottom: 20px;
}